$paragraph-color:#aa9e9e;
$text-color: #000000;
$white-color: #ffffff;
$orange-color: #e08d0f;
$green-color: #03b83f;
$blue-color: #066fc0;
$link-color: #086a83;
$link-clicked-color: #12CBC4;
$btn-hover-color: #f89602;
$btn-cancel-color: #3d434d;
$background-color: #d8d87960;
$sidebar-background: #050505;
$table-hover-color: #f5dfdf;
$sidebar-background-hover: rgba(185, 169, 169, 0.555);
$black-color: #000000;

$font-family-lato: 'Lato', sans-serif;

$light-font-weight: 400;
$medium-font-weight: 700;
$bold-font-weight: 900;