$paragraph-color:#9b9b9b;
$text-color: #000000;
$white-color: #ffffff;
$orange-color: #F79F1F;
$green-color: #009432;
$blue-color: #1B9CFC;
$link-color: #1289A7;
$link-clicked-color: #12CBC4;
$btn-hover-color: #F79F1F;
$btn-cancel-color: #535c68;
$background-color: #f5f5f2;
$sidebar-background: #101110;
$table-hover-color: #f7f7f7;
$sidebar-background-hover: rgba(184, 177, 177, 0.377);

$font-family-lato: 'Lato', sans-serif;

$light-font-weight: 400;
$medium-font-weight: 700;
$bold-font-weight: 900;